<configuration>
	<!-- <appSettings>
		<add key="NEXTAUTH_URL" value="http://localhost:8017" />
		<add key="NEXTAUTH_SECRET" value="my_ultra_secure_nextauth_secret" />
	</appSettings> -->
	<system.webServer>
		<handlers>
			<add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
		</handlers>
		<rewrite>
			<rules>
				<rule name="myapp">
					<match url="/*" />
					<action type="Rewrite" url="server.js" />
				</rule>
			</rules>
		</rewrite>

		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="node_modules"/>
				</hiddenSegments>
			</requestFiltering>
		</security>

		<!-- <httpErrors existingResponse="PassThrough" /> -->
		<directoryBrowse enabled="false"/>

		<iisnode node_env="production"
				  loggingEnabled="true"
				  logDirectory="iisnode"
				  debuggingEnabled="true"
				  devErrorsEnabled="true"
				  watchedFiles="web.config;*.js"
				  nodeProcessCommandLine="&quot;C:\Users\Tarang-005300\AppData\Roaming\fnm\node-versions\v22.19.0\installation\node.exe&quot;"
                />
	</system.webServer>
</configuration>
