<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="myapp">
          <match url="/*"/>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules"/>
        </hiddenSegments>
      	<requestLimits maxUrl="10999" maxQueryString="2097151" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false"/>
    <iisnode node_env="production" loggingEnabled="true" logDirectory="iisnode" debuggingEnabled="true" devErrorsEnabled="true" watchedFiles="web.config;*.js" nodeProcessCommandLine="&quot;C:\Users\Tarang-005300\AppData\Roaming\fnm\node-versions\v22.19.0\installation\node.exe&quot;"/>
  </system.webServer>
  <appSettings>
  </appSettings>
</configuration>
